<h2 class="headertekst">Detalles capitulo</h2>
<br>
<br>
<table style="width:50%" class="center">
    <tr><th class="text-center">Serie</th><td><%= @results["series"] %></td></tr>
    <tr><th class="text-center">Título</th><td><%= @results["title"] %></td></tr>
    <tr><th class="text-center">Capitulo</th><td><%= @results["episode"] %></td></tr>
    <tr><th class="text-center">Temporada</th><td><%= @results["season"] %></td></tr>
    <tr><th class="text-center">Fecha emision</th><td><%= @results["air_date"] %></td></tr>
    <tr><th rowspan=<%= @personajes.length().to_s %> class="text-center">Personajes</th><td><%= link_to @personajes[0], personaje_path(name: @personajes[0]) %></td></tr>
    <% for i in 1..(@personajes.length()-1) %>
        <tr><td><%= link_to @personajes[i], personaje_path(name: @personajes[i])%></td></tr>
    <%end%>
    
    
 
</table>